#{extends 'main.html' /}
#{set title:'Cadastro de férias' /}
<div class="alert alert-success alert-dismissible show fade animated zoomIn d-none" role="alert">
    <strong>Registro salvo</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="card">
    <h5 class="card-header text-white bg-primary animated fadeInDown">Cadastrar período de férias</h5>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label>Pessoa</label>
                <select id="personId" class="form-control mb-2">
                    <option selected disabled>Selecione a pessoa</option>
                    #{list items:people, as:'person' }
                    <option value="${person.id}">${person.id} - ${person.name}</option>
                    #{/list}
                </select>
                <span id="personError" class="alert-danger m-2 d-none"></span>
            </div>
            <div class="form-group">
                <label>Dividir período</label>
                <select id="splitPeriod" class="form-control mb-2">
                    <option selected value="1">Não dividir</option>
                    <option>2</option>
                    <option>3</option>
                </select>
                <span id="splitPeriodError" class="alert-danger m-2 d-none"></span>
            </div>
            <div class="form-group">
                <label>Período <span id="oneDateDays" class="badge badge-primary"></span></label>
                <input id="oneDateStart" type="text" class="form-control" hidden />
                <input id="oneDateEnd" type="text" class="form-control" hidden />
                <input type="text" name="oneDateRange" class="form-control mb-2" />
                <span id="oneSplitPeriodError" class="alert-danger m-2 d-none"></span>
            </div>
            <div id="twoDateRange" class="form-group d-none">
                <label>Segundo Período <span id="twoDateDays" class="badge badge-primary"></span></label>
                <input id="twoDateStart" type="text" class="form-control" hidden />
                <input id="twoDateEnd" type="text" class="form-control" hidden />
                <input type="text" name="twoDateRange" class="form-control mb-2" />
                <span id="twoSplitPeriodError" class="alert-danger m-2 d-none"></span>
            </div>
            <div id="threeDateRange" class="form-group d-none">
                <label>Terceiro Período <span id="threeDateDays" class="badge badge-primary"></span></label>
                <input id="threeDateStart" type="text" class="form-control" hidden />
                <input id="threeDateEnd" type="text" class="form-control" hidden />
                <input type="text" name="threeDateRange" value="person.daterange3" class="form-control mb-2" />
                <span id="threeSplitPeriodError" class="alert-danger m-2 d-none"></span>
            </div>
            <div class="float-right">
                <button type="button" onclick="save()" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>
<script src="@{'/public/js/main.js'}"></script>
<script>
    async function save(){
        const personId = $('#personId').val()
        const oneDateStart = $('#oneDateStart').val()
        const oneDateEnd = $('#oneDateEnd').val()
        const twoDateStart = $('#twoDateStart').val()
        const twoDateEnd = $('#twoDateEnd').val()
        const threeDateStart = $('#threeDateStart').val()
        const threeDateEnd = $('#threeDateEnd').val()
        if(await validate()){
            if(oneDateStart){
                saveVacation(personId, oneDateStart, oneDateEnd)
            }
            if(twoDateStart){
                saveVacation(personId, twoDateStart, twoDateEnd)
            }
            if(threeDateStart){
                saveVacation(personId, threeDateStart, threeDateEnd)
            }
        }
    }
    // validar regras do form de Cadastrar Ferias
    async function validate() {
        //ocutar span de mensagens
        $('#personError').addClass('d-none')
        $('#splitPeriodError').addClass('d-none')
        $('#oneSplitPeriodError').addClass('d-none')
        $('#twoSplitPeriodError').addClass('d-none')
        $('#threeSplitPeriodError').addClass('d-none')
        //pegar id da pessoa selecionada
        const id = $('#personId').val()
        //pegar ano do periodo
        const year = moment($('#oneDateStart').val(), 'DD/MM/YYYY').get('year')
        //validar regras de periodos
        if (validateSplitPeriod()) {
            //validar regras de fim de semana e feriados
            if (validateWeekend()) {
                if (id) {
                    const person = await getPerson(id)
                    const holidays = await getHolidays(year, person.uf, person.city)
                    const oneDateStart = $('#oneDateStart').val()
                    const twoDateStart = $('#twoDateStart').val()
                    const threeDateStart = $('#threeDateStart').val()
                    let errors = []
                    holidays.map(item => {
                        if (oneDateStart) {
                            if(oneDateStart != item.date){
                                const oneDiff = moment(oneDateStart, 'DD/MM/YYYY')
                                const holidayDiff = moment(item.date, 'DD/MM/YYYY')
                                const diff = holidayDiff.diff(oneDiff, 'days')
                                if(!(diff < 0 || diff > 2)){
                                    errors.push({'oneError':item})
                                }
                            }else{
                                errors.push({'oneError':item})
                            }
                        }
                        if (twoDateStart) {
                            if(twoDateStart != item.date){
                                const twoDiff = moment(twoDateStart, 'DD/MM/YYYY')
                                const holidayDiff = moment(item.date, 'DD/MM/YYYY')
                                const diff = holidayDiff.diff(twoDiff, 'days')
                                if(!(diff < 0 || diff > 2)){
                                    errors.push({'twoError':item})
                                }
                            }else{
                                errors.push({'twoError':item})
                            }
                        }
                        if (threeDateStart) {
                            if(threeDateStart != item.date){
                                const threeDiff = moment(threeDateStart, 'DD/MM/YYYY')
                                const holidayDiff = moment(item.date, 'DD/MM/YYYY')
                                const diff = holidayDiff.diff(threeDiff, 'days')
                                if(!(diff < 0 || diff > 2)){
                                    errors.push({'threeError':item})
                                }
                            }else{
                                errors.push({'threeError':item})
                            }
                        }
                    })
                    if(errors.length){
                        $('#oneSplitPeriodError').html('')
                        $('#twoSplitPeriodError').html('')
                        $('#threeSplitPeriodError').html('')
                        errors.map(item =>{
                            if(item.oneError){
                                $('#oneSplitPeriodError').removeClass('d-none')
                                $('#oneSplitPeriodError').append("<ul><li>"+
                                    item.oneError.name+
                                    "<ul><li>"+
                                        item.oneError.date+
                                        "<li>"+item.oneError.type+
                                        "</li>"+
                                        "<li>"+item.oneError.description+
                                        "</li>"+
                                    "</li></ul>"+
                                "</li></ul>")
                            }
                            if(item.twoError){
                                $('#twoSplitPeriodError').removeClass('d-none')
                                $('#twoSplitPeriodError').append("<ul><li>"+
                                    item.twoError.name+
                                    "<ul><li>"+
                                        item.twoError.date+
                                        "<li>"+item.twoError.type+
                                        "</li>"+
                                        "<li>"+item.twoError.description+
                                        "</li>"+
                                    "</li></ul>"+
                                "</li></ul>")
                            }
                            if(item.threeError){
                                $('#threeSplitPeriodError').removeClass('d-none')
                                $('#threeSplitPeriodError').append("<ul><li>"+
                                    item.threeError.name+
                                    "<ul><li>"+
                                        item.threeError.date+
                                        "<li>"+item.threeError.type+
                                        "</li>"+
                                        "<li>"+item.threeError.description+
                                        "</li>"+
                                    "</li></ul>"+
                                "</li></ul>")
                            }
                        })
                    }else{
                        return true
                    }
                } else {
                    $('#personError').removeClass('d-none')
                    $('#personError').html('Informe uma pessoa')
                }
            }
        }
        return false
    }
    //inicia daterange no input
    setDatePicker('input[name="oneDateRange"]', '#oneDateStart', '#oneDateEnd', '#oneDateDays')
    //inicia daterange no input
    setDatePicker('input[name="twoDateRange"]', '#twoDateStart', '#twoDateEnd', '#twoDateDays')
    //inicia daterange no input
    setDatePicker('input[name="threeDateRange"]', '#threeDateStart', '#threeDateEnd', '#threeDateDays')
    // verificar alteração no campo dividir periodo
    $('#splitPeriod').change(function () {
        //pegar valor do campo dividir periodo
        const splitPeriod = $('#splitPeriod').val()
        //exibir ou campos dos periodos conforme o valor do campo divir periodo
        if (splitPeriod == 1) {
            $('#twoDateRange').addClass('d-none')
            $('#threeDateRange').addClass('d-none')
        }
        if (splitPeriod == 2) {
            $('#twoDateRange').removeClass('d-none')
            $('#threeDateRange').addClass('d-none')
        }
        if (splitPeriod == 3) {
            $('#twoDateRange').removeClass('d-none')
            $('#threeDateRange').removeClass('d-none')
        }
        validate()
    })
    $('#personId').change(function () {
        validate()
    })

</script>