#{extends 'main.html' /}
#{set title:'Cadastro de férias' /}

<div class="card">
    <h5 class="card-header text-white bg-primary animated fadeInDown">Cadastrar pessoa</h5>
    <div class="card-body">
        <form action="@{Person.save}">
            <div class="form-group">
                <label>Código</label>
                <input type="text" name="person.id" value="${person?.id}" class="form-control" hidden/>
                <input type="text" name="person.id" value="${person?.id}" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label>Nome</label>
                <input type="text" id="name" name="person.name" value="${person?.name}" class="form-control mb-2" disabled/>
                <span class="alert-danger m-2">
                    #{error 'person.name' /}
                </span>
            </div>
            <div class="form-group">
                <input id="uf" value="${person?.uf}" hidden/>
                <label>Dividir período</label>
                <select id="splitPeriod" name="person.splitPeriod" class="form-control mb-2">
                    <option selected value="1">Selecione a quantidade</option>
                    <option>2</option>
                    <option>3</option>
                </select>
                <span class="alert-danger m-2">
                    #{error 'person.uf' /}
                </span>
            </div>
            <div class="form-group">
                <label>Período</label>
                <input type="text" name="daterange" class="form-control mb-2"/>
            </div>
            <div class="float-right">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>


<script>
$(function() {
  $('input[name="daterange"]').daterangepicker({
    opens: 'right',
    drops: "up",
    locale: {
        format: "DD/MM/YYYY",
        separator: " a ",
        applyLabel: "Ok",
        cancelLabel: "Cancelar",
        daysOfWeek: [
            "Dom",
            "Seg",
            "Ter",
            "Qua",
            "Qui",
            "Sex",
            "Sáb"
        ],
        monthNames: [
            "Janeiro",
            "Fevereiro",
            "Março",
            "Abril",
            "Maio",
            "Junho",
            "Julho",
            "Agosto",
            "Setembro",
            "Outubro",
            "Novembro",
            "Dezembro"
        ],
        firstDay: 1
    },
  }, function(start, end, label) {
    console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
  });
});
</script>
