#{extends 'main.html' /}
#{set title:'Listar Períodos de férias' /}
<div class="card">
    <h5 class="card-header text-white bg-primary animated fadeInDown">Listar pessoas</h5>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-hover">
                <thead class="shadow-sm">
                <tr>
                    <th class="text-center" scope="col">#</th>
                    <th class="text-center" scope="col">Nome</th>
                    <th class="text-center" scope="col">Inicio</th>
                    <th class="text-center" scope="col">Fim</th>
                    <th class="text-center" scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                #{list items:vacations, as:'vacation' }
                <tr>
                    <td class="text-center">${vacation.id}</td>
                    <td class="text-center">${vacation.getPerson().name}</td>
                    <td class="text-center">${vacation.start}</td>
                    <td class="text-center">${vacation.end}</td>
                    <td class="text-center">
                        <div class="d-inline-flex">
                            <a href="@{Vacation.destroy(vacation.id)}" class="btn btn-outline-danger"><i class="fas fa-trash"></i></a>
                        </div>
                    </td>
                </tr>
                #{/list}
                </tbody>
            </table>
        </div>
    </div>
</div>