<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="@{Person.index}">
        <img src="@{'/public/images/play.png'}" width="30" height="40" class="d-inline-block align-center">
        Play
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li id="register" class="dropdown mt-2">
                <a role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastro <i class="fas fa-caret-down"></i></a>
                <ul class="dropdown-menu" aria-labelledby="register">
                    <li id="person" class="nav-item">
                        <a class="nav-link" href="@{Person.index}">Pessoa </a>
                    </li>
                    <li id="vacations" class="nav-item">
                        <a class="nav-link" href="@{Person.vacations}">Período de férias </a>
                    </li>
                </ul>
            </li>
            <li id="list" class="nav-item">
                <a class="nav-link" href="@{Person.list}">Listar </a>
            </li>
        </ul>
    </div>
</nav>